body {
    background: #f3f2f3;
    color: #000000;
    font-family: Trebuchet MS, Arial, Times New Roman;
    font-size: 12px;
}

#menu {
    background: #99CC99;
    float: left;
    width: 22%;
    height: auto;
    margin-left: 30px;
}

#content {
    background: #d2d0d2;
    float: right;
    width: 75%;
    height: auto;
}

table {
    border-collapse: collapse;
    word-break: break-all;
    width: 100%;
}

td {
    border: 1px solid #000000;
    width: 5%;
    text-align: center;
    color:#003eff;"
}

.table1 {
    border-collapse: collapse;
}
.td1 {
    padding: 5px;
    border: 1px solid #000000;
    width: 15%;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}